<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post), class: "button is-warning"  %> 
  <%= link_to "Back to posts", posts_path, class: "button is-primary"  %>
  <div id='post spacer' style="height: 10px;"></div>
  <%= button_to "Destroy this post", @post, method: :delete, class: "button is-danger"  %>
</div>


<hr>

<% comment = Comment.new %>
<%= form_with(model: comment, url: post_comments_path(@post, comment)) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<hr>

<% @post.comments.each do |comment| %>
  <%= comment.body %>
  <hr>

<% end %>
