<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="https://hisgames.org/images/logo/214/logo_tiny-rails.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to 'Home', home_index_url, class:'navbar-item' %>
      </a>
      
      
      <a class="navbar-item">
        <%= link_to 'Posts', posts_url, class:'navbar-item' %>
      </a>
      
      
      <a class="navbar-item">
        <%= link_to 'About', about_index_url, class:'navbar-item' %>
      </a>

      </div>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if current_user %>
        <%= current_user.email %> 
        <div id='post spacer' style="width: 20px;"></div>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "button is-danger"  %>
          
          <% else %>
            Not logged in
          <% end %>

          </a>
        </div>
      </div>
    </div>
  </div>
</nav>